## Homework PANDAS 6

import numpy, pandas ,display and pyplot

In [3]:
import numpy as np
import pandas as pd
from IPython.display import display

In [5]:
df = pd.read_csv("sport_athletes.csv")
display(df)

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016

**EX 1**
PANDAS exercise

In [19]:
display(df.groupby('Sport Type')[['Weight(kg)']].min().rename(columns={'Weight(kg)':'max_weight'}))
display(df.groupby('Sport Type')[['Height(cm)']].max().rename(columns={'Height(cm)':'max_height'}))
display(df.groupby('Sport Type')[['Wins']].max().rename(columns={'Wins':'max_wins'}))

                 max_weight
Sport Type
Basketball               96
Cycling                  68
Gymnastics               45
Soccer                   57
Swimming                 58
Tennis                   70
Track and Field          57

                 max_height
Sport Type
Basketball              216
Cycling                 186
Gymnastics              160
Soccer                  187
Swimming                200
Tennis                  188
Track and Field         195

                 max_wins
Sport Type
Basketball              3
Cycling                 5
Gymnastics              5
Soccer                  3
Swimming                5
Tennis                  4
Track and Field         6

**EX 2**
PANDAS exercise

In [33]:
display(df.groupby('Sport Type')['Height(cm)'].nlargest(2))

Sport Type
Basketball       4     216
                 3     208
Cycling          28    186
                 27    184
Gymnastics       33    160
                 34    157
Soccer           7     187
                 9     185
Swimming         15    200
                 14    196
Tennis           19    188
                 16    185
Track and Field  20    195
                 21    188
Name: Height(cm), dtype: int64

**EX 3**
PANDAS exercise

In [87]:
display(df.groupby(['Sport Type', 'Country']).max(numeric_only=True))
display(df.groupby(['Sport Type', 'Country']).max(numeric_only=True).loc['Basketball','USA'])
display(df.groupby(['Sport Type', 'Country']).max(numeric_only=True).xs(level='Sport Type', key='Soccer'))
display(df[df['Sport Type'].isin(['Soccer', 'Tennis'])].groupby(['Sport Type']).max())
display(df.groupby(['Sport Type', 'Country']).max().swaplevel().sort_index(level=['Sport Type', 'Country']))
display(df.agg({'Wins': ['max', 'mean', 'min', 'std'], 'Height(cm)': ['std', 'mean', 'min', 'max']}).T)

                             Height(cm)  Weight(kg)  Wins
Sport Type      Country
Basketball      USA                 216         147     3
Cycling         Belgium             181          72     5
                Netherlands         175          68     4
                Slovenia            186          69     3
                UK                  183          71     4
Gymnastics      Romania             155          50     5
                USA                 160          52     5
Soccer          Argentina           170          69     2
                Brazil              174          72     3
                France              185          80     3
                Portugal            187          83     2
                USA                 168          62     2
Swimming        Australia           196          85     4
                China               200          90     3
                USA                 193          88     5
Tennis          Serbia              188          84     4
                Spain               185          85     3
                Switzerland         185          85     2
                USA                 175          70     4
Track and Field Jamaica             195          94     6
                UK                  176          65     5
                USA                 188          81     4

Height(cm)    216
Weight(kg)    147
Wins            3
Name: (Basketball, USA), dtype: int64

           Height(cm)  Weight(kg)  Wins
Country
Argentina         170          69     2
Brazil            174          72     3
France            185          80     3
Portugal          187          83     2
USA               168          62     2

           Country     Athlete Name  Height(cm)  Weight(kg)  Wins Olympic Date
Sport Type
Soccer         USA  Zinedine Zidane         187          83     3   25/08/2008
Tennis         USA  Serena Williams         188          85     4   28/07/2008

,,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
Country,Sport Type,,,,,
USA,Basketball,Shaquille O'Neal,216,147,3,24/08/2012
Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
Slovenia,Cycling,Tadej Pogacar,186,69,3,11/08/2020
UK,Cycling,Geraint Thomas,183,71,4,08/08/2012
Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
USA,Gymnastics,Simone Biles,160,52,5,15/08/2008
Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
Brazil,Soccer,Pel√©,174,72,3,18/08/1970
France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
China,Swimming,Sun Yang,200,90,3,08/08/2012
USA,Swimming,Michael Phelps,193,88,5,25/08/2012
Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
USA,Tennis,Serena Williams,175,70,4,01/08/2012
Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
UK,Track and Field,Mo Farah,176,65,5,05/08/2016
USA,Track and Field,Florence Griffith,188,81,4,18/08/1988

              max        mean    min        std
Wins          6.0    3.388889    1.0   1.102666
Height(cm)  216.0  181.333333  142.0  16.568473

**EX 4**
PANDAS exercise

In [101]:
new_rows = pd.DataFrame({
    'Country': ['Canada', 'USA'],
    'Sport Type': ['Hockey', 'Skiing'],
    'Athlete Name': ['Wayne Gretzky', 'Lindsey Vonn'],
    'Height(cm)': [183, 172],
    'Weight(kg)': [84, 68],
    'Wins': [3, 4],
    'Olympic Date': ['01/02/2002', '12/02/2010']
}, index=[36, 37])
df3 = pd.concat([df, new_rows], axis=0)
display(pd.concat([df, new_rows], axis=0))

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016
36,Canada,Hockey,Wayne Gretzky,183,84,3,01/02/2002
37,USA,Skiing,Lindsey Vonn,172,68,4,12/02/2010

**EX 5**
PANDAS exercise

In [111]:
df2 = pd.read_csv("athletes_smoking.csv")
display(df3)
display(df2)
display(pd.merge(df3, df2, on='Athlete Name', how='inner'))
display(pd.merge(df3, df2, on='Athlete Name', how='outer'))

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992
1,USA,Basketball,LeBron James,206,113,2,15/08/2008
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000
5,Brazil,Soccer,Pel√©,174,72,3,18/08/1970
6,Brazil,Soccer,Marta,163,57,3,01/08/2004
7,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008
8,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016
9,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998
10,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020
11,USA,Swimming,Michael Phelps,193,88,5,16/08/2004
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012
13,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016
14,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000
15,China,Swimming,Sun Yang,200,90,3,08/08/2012
16,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008
17,USA,Tennis,Serena Williams,175,70,4,01/08/2012
18,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016
19,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020
20,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012
21,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016
23,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988
24,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016
25,UK,Cycling,Chris Froome,180,70,4,08/08/2012
26,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980
27,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020
28,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016
29,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008
30,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020
31,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016
32,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976
33,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012
34,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008
35,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016
36,Canada,Hockey,Wayne Gretzky,183,84,3,01/02/2002
37,USA,Skiing,Lindsey Vonn,172,68,4,12/02/2010

         Athlete Name Smoking
0      Michael Jordan      No
1        LeBron James      No
2         Kobe Bryant     Yes
3          Usain Bolt      No
4        Simone Biles      No
5       Wayne Gretzky     Yes
6        Lindsey Vonn      No
7        Rafael Nadal      No
8        Lionel Messi     Yes
9   Cristiano Ronaldo      No
10      Megan Rapinoe      No
11       Kevin Durant      No
12   Shaquille O'Neal      No
13         Carl Lewis     Yes
14         Ian Thorpe      No

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date,Smoking
0,USA,Basketball,Michael Jordan,198,98,3,08/08/1992,No
1,USA,Basketball,LeBron James,206,113,2,15/08/2008,No
2,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012,Yes
3,USA,Basketball,Kevin Durant,208,109,3,10/08/2016,No
4,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000,No
5,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008,No
6,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016,Yes
7,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020,No
8,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000,No
9,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016,No
10,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012,No
11,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984,Yes
12,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016,No
13,Canada,Hockey,Wayne Gretzky,183,84,3,01/02/2002,Yes
14,USA,Skiing,Lindsey Vonn,172,68,4,12/02/2010,No

,Country,Sport Type,Athlete Name,Height(cm),Weight(kg),Wins,Olympic Date,Smoking
0,USA,Gymnastics,Aly Raisman,160,52,3,10/08/2012,NaN
1,Netherlands,Cycling,Anna van der Breggen,175,68,4,10/08/2020,NaN
2,USA,Track and Field,Ashton Eaton,185,77,3,08/08/2016,NaN
3,USA,Swimming,Caeleb Dressel,191,88,3,06/08/2016,NaN
4,USA,Track and Field,Carl Lewis,188,81,4,15/08/1984,Yes
5,UK,Cycling,Chris Froome,180,70,4,08/08/2012,NaN
6,Portugal,Soccer,Cristiano Ronaldo,187,83,2,25/08/2008,No
7,Belgium,Cycling,Eddy Merckx,181,72,5,15/08/1980,NaN
8,USA,Track and Field,Florence Griffith,165,57,4,18/08/1988,NaN
9,USA,Gymnastics,Gabby Douglas,150,45,3,11/08/2016,NaN
10,UK,Cycling,Geraint Thomas,183,71,4,08/08/2008,NaN
11,Australia,Swimming,Ian Thorpe,196,85,4,11/08/2000,No
12,USA,Swimming,Katie Ledecky,180,58,4,25/08/2012,NaN
13,USA,Basketball,Kevin Durant,208,109,3,10/08/2016,No
14,USA,Basketball,Kobe Bryant,198,96,2,24/08/2012,Yes
15,USA,Basketball,LeBron James,206,113,2,15/08/2008,No
16,USA,Skiing,Lindsey Vonn,172,68,4,12/02/2010,No
17,Argentina,Soccer,Lionel Messi,170,69,2,11/08/2016,Yes
18,Brazil,Soccer,Marta,163,57,3,01/08/2004,NaN
19,USA,Soccer,Megan Rapinoe,168,62,2,05/08/2020,No
20,USA,Basketball,Michael Jordan,198,98,3,08/08/1992,No
21,USA,Swimming,Michael Phelps,193,88,5,16/08/2004,NaN
22,UK,Track and Field,Mo Farah,176,65,5,05/08/2016,NaN
23,Romania,Gymnastics,Nadia Comaneci,155,50,5,18/08/1976,NaN
24,Serbia,Tennis,Novak Djokovic,188,84,4,10/08/2020,NaN
25,Brazil,Soccer,Pel√©,174,72,3,18/08/1970,NaN
26,Slovenia,Cycling,Primoz Roglic,186,68,3,05/08/2016,NaN
27,Spain,Tennis,Rafael Nadal,185,85,3,05/08/2016,No
28,Switzerland,Tennis,Roger Federer,185,85,2,28/07/2008,NaN
29,USA,Tennis,Serena Williams,175,70,4,01/08/2012,NaN
30,USA,Basketball,Shaquille O'Neal,216,147,1,22/08/2000,No
31,USA,Gymnastics,Shawn Johnson,157,50,3,15/08/2008,NaN
32,USA,Gymnastics,Simone Biles,142,48,5,05/08/2016,No
33,China,Swimming,Sun Yang,200,90,3,08/08/2012,NaN
34,Slovenia,Cycling,Tadej Pogacar,184,69,3,11/08/2020,NaN
35,Jamaica,Track and Field,Usain Bolt,195,94,6,22/08/2012,No
36,Canada,Hockey,Wayne Gretzky,183,84,3,01/02/2002,Yes
37,France,Soccer,Zinedine Zidane,185,80,3,17/08/1998,NaN